@font-face {
    font-family: Poppins;
    src: local('Poppins'), url("../../shared/fonts/poppins/Poppins-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: Poppins-Medium;
    src: local('Poppins'), url("../../shared/fonts/poppins/Poppins-Medium.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #F9F9F9;
    margin: auto;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 75px;
    letter-spacing: -3px;
    line-height: 120%;
    font-weight: 600;
    color: #252525;

    span {
        color: #6C5FBC;
    }
}

h2 {
    padding: 0;
    margin: 0;
    width: 500px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 51px;
    line-height: 58px;
    color: #252525;

    span {
        color: #6C5FBC;
    }
}

h3 {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: #252525;

    span {
        color: #6C5FBC;
    }
}

h4 {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #252525;
}

h5 {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #252525;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .App {
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}