.questions__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 190px;
}

.questions__image {
    position: absolute;
    top: -50px;
    right: 380px;
}

.questions__title {
    text-align: center;
    width: 400px;
    margin-bottom: 80px;
}