.footer__wrapper {
    box-sizing: border-box;
    width: 1440px;
    height: 345px;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__main {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #818181;
    padding-bottom: 30px;
}

.footer__social {
    margin-top: 57px;
    width: 1250px;
    display: flex;
    justify-content: space-between;
}

.footer__block {
    cursor: pointer;
    display: flex;
    gap: 50px;
    align-items: end;
}

.footer__copy {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    color: #999999;
}

@media screen and (max-width: 768px) {
    .footer__wrapper {
        width: 768px;
    }
    .footer__main {
        width: 768px;
        justify-content: space-around;
    }
    .footer__social {
        width: 768px;
        justify-content: space-around;
    }
}