.purchases__wrapper {
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    width: 1248px;
    height: 600px;
    border-bottom: 1px solid #CBCBCB;
}

.purchases__info {
    display: flex;
    height: 465px;
    flex-direction: column;
    justify-content: space-between;
}

.purchases__items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}