.menu__wrapper {
    height: 63px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.menu__ul {
    display: flex;
    gap: 70px;
    padding: 0;
}

.menu__li {
    cursor: pointer;
    list-style-type: none;
    font-size: 18px;
    color: #606060;
    font-family: "Inter", sans-serif;
}