.custom-button {
    font-size: 16px;
    font-family: Poppins-Medium, sans-serif;
    letter-spacing: 1px;
    width: 100%;
    padding: 0 25px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: 1px solid #6C5FBC;
    border-radius: 15px;
}

.custom-button.primary {
    transition: all .3s;
    background-color: #6C5FBC;
    color: #F9F9F9;
}

.custom-button.primary:hover {
    background-color: #F9F9F9;
    color: #6C5FBC;
}

.custom-button.light {
    transition: all .3s;
    background-color: #F9F9F9;
    color: #6C5FBC;
}

.custom-button.light:hover {
    background-color: #6C5FBC;
    color: #F9F9F9;
}

.custom-button.direct {
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #6C5FBC;
    color: #F9F9F9;
}

.custom-button.direct:hover {
    background-color: #F9F9F9;
    color: #6C5FBC;
    svg path {
        stroke: #6C5FBC;
    }
}

