.articleCard__author {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authorCard__info {
    display: flex;
    align-items: center;
}

.authorCard__avatar {
    width: 45px;
    height: 45px;
}

.authorCard__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;

    span {
        font-family: Poppins-Medium, sans-serif;
        font-size: 17px;
        color: #000000;
    }
}

.authorCard__writed {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #8D8D8D;
}

.card_reactions {
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: Manrope, sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #8D8D8D;
}