.header__wrapper {
    display: flex;
    width: 90%;
    padding: 45px 0;
    border-bottom: 1px solid #CBCBCB;
}

@media screen and (max-width: 768px) {
    .header__wrapper {
        width: 768px;
        justify-content: space-around;
    }

}