.enjoyBlock__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 430px;
}

.enjoyBlock__subtitle {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 20px;
    margin: 0 0 50px 0;
    line-height: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 490px;
    color: #676767;
    letter-spacing: 0;
}

.enjoyBlock__buttons {
    display: flex;
    position: relative;
    width: 285px;
    justify-content: space-between;
}

.enjoyBlock__image {
    position: absolute;
    left: 170px;
    top: 50px;
}